.space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    background: black;
    width: 100vw;
    height: 100vh;
}

.writing { 
    margin: 10px 40px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: black
}

.button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background: #1e40af;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}